<button {{action "toggleModal"}} id="BuildInfo" class="Button Button--small u-pull-right">
  Build Info
</button>
{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  hasOverlay=false
                  clickOutsideToClose=true
                  translucentOverlay=true
                  targetAttachment="bottom right"
                  attachment="top right"
                  tetherTarget="#BuildInfo"
                  containerClass="BuildInfoDropdown-modal"
                  build=build}}
    <h3>{{build.buildTitle}}</h3>
    <table>
      <tr>
        <td>Started</td>
        <td>{{build-started build=build}}</td>
      </tr>
      <tr>
        <td>Build time</td>
        <td>{{build-duration build=build}}</td>
      </tr>
      <tr>
        <td>Head</td>
        <td>
          <code>{{build.branch}}</code> @ 
          {{#if build.isGithubLinked}}
            <a href="{{build.repo.htmlUrl}}/commit/{{build.commit.sha}}">{{build.commit.shaShort}}</a>
          {{else}}
            {{build.commit.shaShort}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Baseline</td>
        <td>
          <code>{{build.baseBuild.branch}}</code>
          @ 
          {{#if build.isGithubLinked}}
            <a href="{{build.baseBuild.repo.htmlUrl}}/commit/{{build.baseBuild.commit.sha}}">{{build.commit.shaShort}}</a>
          {{else}}
            {{build.baseBuild.commit.shaShort}}
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>Baseline build</td>
        <td>{{build-comparison-info build=build}}</td>
      </tr>
      <tr>
        <td>User agent</td>
        <td><pre>Percy/v1 ember-percy/1.2.13 percy-js/2.1.3 (ember/2.13.3; ember-cli/2.13.3; node/v6.11.0; circle)</pre></td>
      </tr>
    </table>

    {{#if build.commit}}
      <hr/>
      <h3>Commit Info</h3>
      <table>
        <tr>
          <td>Commit</td>
          <td>
            {{#if build.isGithubLinked}}
              <a href="{{build.repo.htmlUrl}}/commit/{{build.commit.sha}}">{{build.commit.shaShort}}</a>
            {{else}}
              {{build.commit.shaShort}}
            {{/if}}
          </td>
        </tr>
        <tr><td>Committer</td><td>{{build.commit.authorName}}</td></tr>
        <tr><td>Message</td><td>{{build.commit.message}}</td></tr>
      </table>
    {{/if}}
  {{/modal-dialog}}
{{/if}}
