<button {{action "toggleModal"}} id="BuildInfo" class="Button Button--small u-pull-right">
  Build Info
</button>
{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
                  hasOverlay=false
                  clickOutsideToClose=true
                  translucentOverlay=true
                  targetAttachment="bottom right"
                  attachment="top right"
                  tetherTarget="#BuildInfo"
                  containerClass="BuildInfoDropdown-modal"
                  build=build}}
    {{fa-icon "caret-up"}}
    <h3>{{build.buildTitle}}</h3>
    <table>
      <tr>
        <td>Created</td>
        <td>{{build-started build=build}}</td>
      </tr>
      <tr>
        <td>Build time</td>
        <td>{{build-duration build=build}}</td>
      </tr>
      <tr>
        <td>Baseline build</td>
        <td>{{build-comparison-info build=build}}</td>
      </tr>
      <tr class='BuildInfoDropdown-fullWidthLabel'>
        <td colspan='2'>User agent</td>
      </tr>
      <tr class='BuildInfoDropdown-fullWidthValue'>
        <td colspan='2'><pre>Percy/v1 ember-percy/1.2.13 percy-js/2.1.3 (ember/2.13.3; ember-cli/2.13.3; node/v6.11.0; circle)</pre></td>
      </tr>
    </table>

    {{#if build.commit}}
      <hr/>
      <h4>Head commit</h4>
      {{commit-table build=build commit=build.commit}}
    {{/if}}

    {{#if build.baseBuild.commit}}
      <hr/>
      <h4>Base commit</h4>
      {{commit-table build=build.baseBuild commit=build.baseBuild.commit}}
    {{/if}}
  {{/modal-dialog}}
{{/if}}
