{{fa-icon "compress"}}
{{#if build.baseBuild}}
  <span class="BuildComparisonInfo-label">Compared to</span>
  {{!-- NOTE: we use the baseBuild.id instead of the object to force the next build to reload so all relationships are available. TODO: better way? --}}
  {{#link-to "organization.project.builds.build" build.project.organization.slug build.project.slug build.baseBuild.id}}{{build.baseBuild.buildTitle}}{{/link-to}}
  <span class="BuildComparisonInfo-branch">(<strong>{{build.baseBuild.branch}}</strong>)</span>
{{else}}
  {{#if build.isFinished}}
    No baseline to compare against
  {{else}}
    --
  {{/if}}
{{/if}}
